h1 {
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #C1D7A9;
    font-size: large;
}

.nav_css{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: large;
}