h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #C1D7A9;
    font-size: large;
    text-align: center;
}

img{
    padding: 20px;
    height: 50%;
    width: 10%;
    align-content: center;
}

.nav_css{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: large;
}