h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #9CCF65;
}

a{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: medium;
    text-align: center;
}

.nav_css{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: large;
}