h1 {
    font-family: 'Roboto', sans-serif;
    align-content: center;
}

ul{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: medium;
}

.nav_css{
    font-family: 'Roboto', sans-serif;
    color: #474F3E;
    font-size: large;
    align-content: center;

}