h1 {
    font-family: 'Roboto', sans-serif;
}

img {
    padding: 20px;
    height: 500px;
    width: 40px;
}

.nav_css{
    column-count: 2;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
}